body{
	background-color:  rgba(3,124,136,.1) !important;
}
.color_letra_primario{
	color: white !important;
}
.color_letra_secundario{
	color: rgb(33,49,62) !important;
}
.color_letra_danger{
	color: rgb(242,83,85) !important;
}
.fondo_claro{
	transition: 1s ease;
	background-color: rgb(242,83,85) !important;
}
a.brand-logo img{
	opacity: .1;
}
a.pulse{
	border-radius: 5px;
	margin-top: 2.5em !important;
	color: red;
	margin-left: -2em;
}
.list_stock_exit div.card{
	padding: 1em 0em 1em;
	border-right: 5px white solid;
}
.sombra{
	box-shadow: 0 2px 2px 0 rgba(33,49,62,.2), 0 1px 5px 0 rgba(33,49,62,.2), 0 2px 1px 2px rgba(33,49,62,.2);
}
.paddin1{
	padding: 1em !important;
}
.sombra_blanca{
	box-shadow: 0 2px 2px 0 rgba(255,255,255,.2), 0 1px 5px 0 rgba(255,255,255,.2), 0 2px 1px 2px rgba(255,255,255,.2);
}
div.logo_sena img{
	max-width: 3em;
	max-height: 4em;
}
.form_fix_right{
	position: absolute;
	top: 14em;
	right: 0  !important;
}
.content_impresion div{
	padding: 0 0rem !important;
}
div.list_stock_exit{
	height: 60vh;
	overflow: scroll;
}
div.formulario{
	margin-top: 1em;
	border-right: 1px dashed rgba(3,124,136,.2);
}
p.guia_abajo i{
	color: white !important;
	text-shadow: 0 2px 10px 10px rgba(0,133,122,1), 0 1px 5px 10px rgba(0,133,122,1), 0 2px 1px 2px rgba(0,133,122,1);
	font-size: 4em;
	text-shadow:5px 5px 5px rgba(0,133,122,.1);

}
p.guia_abajo i.second{
	margin-top: -1.5em;
}
.nav-wrapper{
	background-color: transparent !important;
	position: fixed;
	top: 0;
}
nav{
	background-color: rgb(33,49,62) !important;
	position: fixed;
	top: 0;
	z-index: 100;
	background-size: cover;
	background-repeat: no-repeat;
}
div.paginacion{
	background-color: rgb(33,49,62) !important;
	position: fixed;
	bottom: 0;
	z-index: 300;
	min-height: 4em;
	max-height: 4em;
}
ul.pagination li.active{
	background-color: rgb(242,83,85);
}
div#recordatorio{
	margin-top: 1em;
	margin-bottom: 3em;
}
div#recordatorio h4 i {
	margin-right: 1em;
	box-shadow: 1px 1px 1px rgba(255,255,255,2);
	padding: 1em;
	border-radius: 50%;
}
i{
	color: rgb(33,49,62) !important;
}

div.destino{
	margin-bottom: 2em;
}
#modal_mensajes{
	background-color: transparent;
	box-shadow: 0px 0px 0px transparent;
}
#modal_mensajes .modal-content .card-image img{
	width: 60%;
}
a.close_modal{
	position: fixed;
	top: 10em;
}
div#view_add_elements{
	padding-top: 2em;
	height: 50vh;
	overflow: scroll;
	border-radius: 1em;
}
div.element_salida{
	background-color:  rgba(255,255,255,.3);
}
#modal_mensajes .modal-content .card-image{
	min-height: 14em;
	max-height: 14em;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
div.flitro{
	z-index: 100;
	background: rgb(33,49,62);
}
label{
	color: color: rgba(0,0,0,.5) !important;
	padding-left: 2em !important;
}
label.search{
	color: color: rgba(0,0,0,.5) !important;
	padding-left: 0em !important;
}
.toast{
	background-color: rgb(242,83,85);
	color: white;
}
input[type=text]:not(.search),input[type=number]:not(.search),input[type=password]:not(.search){
	color: black !important;
	border-radius: 20px !important;
}
input.search{
	color: white !important;
}
input[type=text]:not(.search):focus,input[type=number]:not(.search):focus,input[type=password]:not(.search):focus{
	color: black !important;
	box-shadow: 0px 0px 0px transparent !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: white !important;
	color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    color: white !important;
}
input.valid{
	border-radius: 0px !important;
}
input.invalid{
	border-bottom: 1px dashed #F44336 !important;
    box-shadow: 0 1px 0 0 transparent !important;
}
input.valid:not(.search):hover{
	background-color: transparent !important;
	color: black !important;
}
input.valid .search{
	background-color: transparent !important;
	color: white !important;
}
div.input-field i{
	color: rgb(30,136,229);
}
img.cargando{
	animation-name: opacity_change;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@-webkit-keyframes opacity_change {
	from { 
		opacity: .4;
		-ms-transform: rotate(7deg); /* IE 9 */
	    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	    transform: rotate(7deg);
	}
	to { 
		opacity: 1; 
		-ms-transform: rotate(-3deg); /* IE 9 */
	    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
	    transform: rotate(-3deg);
	}
}
h5.titulo{
	color: rgb(33,49,62);
	font-size: 1em;
	margin-bottom: 2em;
}
h6.titulo{
	color: rgb(33,49,62);
	font-size: 1.1em;
	margin-bottom: 2em;
}
div.contenedor_session{
	height: 70vh
}
.btn{
	margin-top: 2em;
}
.btn-primary,.btn-nav{
	margin-right: .3em;
	background-color: white;
	color: rgb(33,49,62);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background-color: rgb(242,83,85);
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after{
	border: 2px solid rgb(242,83,85);
}
.btn-primary:hover{
	background-color: white;
}
.btn-primary:focus{
	background-color: white;
	color: rgb(33,49,62) !important;

}
.btn-success{
	background-color: rgb(242,83,85);
	color: white;
}
.btn-success:hover{
	background-color: rgb(242,83,85);
	color: white;
}
.btn-success:focus{
	background-color: rgb(242,83,85);
	color: white;
}
.btn i{
	color: rgb(33,49,62);
}
.btn-success i {
	color: white;
}
.btn-nav{
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 1px 5px 0 rgba(255,255,255,0.8), 0 3px 1px 2px rgba(0,0,0,0.2);
}
.btn-nav:hover{
	transition: .4s ease;
	background-color: transparent;
	color: white;
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.1), 0 1px 5px 0 rgba(255,255,255,0.1), 0 3px 1px -2px rgba(255,255,255,0.2);
}
.btn-nav:focus{
	transition: .4s ease;
	background-color: transparent;
	color: white;
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.1), 0 1px 5px 0 rgba(255,255,255,0.1), 0 3px 1px -2px rgba(255,255,255,0.2);
}
.btn-nav i{
	color: rgba(0,88,115,1) !important;
}
.btn-nav:hover i{
	color: white !important;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.targeta_inicio .card .card-content{
	padding: 5px !important;
	background-color: rgb(0,133,122);
}
.targeta_inicio .card .card-content div.title{
	background-size: cover;
	background-repeat: no-repeat;
}
.targeta_inicio:hover .card .card-content div.title i{
	transition: .2s;
}
.targeta_inicio:hover .card .card-content div.content i{
	font-size: 4em;
	opacity: 1;
	transition: 1s;
}
.targeta_inicio .card .card-content div.content i{
	font-size: 4em;
}
.targeta_inicio .card .card-content div{
	padding: 1em
}
.targeta_inicio div.derecha{
	font-size: 3em;
}
.targeta_inicio{
	margin-top: 0em;
	overflow: hidden;
	transition: ease all .5s;
}
.targeta_inicio:hover .card{
	box-shadow: 0 2px 2px 0 rgba(242,83,85,.1), 0 1px 5px 0 rgba(242,83,85,.3), 0 1px 1px 1px rgba(242,83,85,.3);
}
div.menu{
	position: fixed;
	height: 80%;
	overflow: hidden;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 6em !important;
}
#modal1{
	background-color: rgba(40,61,73,1)!important;
}
div#vista_ventana{
	margin-top: 7em !important;
}
.fondo_negro{
	background-color: rgb(33,49,62) !important;
}
div.action{
	margin-bottom: 1em;
}
.tabla .btn{
	margin-top: 0em !important;
}
.primary_cell{
	border-left: 1px solid rgba(3,124,136,.2);
	border-bottom: 1px solid rgba(3,124,136,.2);
}
.second_cell{
	border-right: 1px solid rgba(3,124,136,.2);
}
.head_cell{
	background-color: rgb(242,83,85);
	border-right: 1px solid rgba(255,255,255,.2);
}
.prymary_head_cell{
	background-color: rgb(242,83,85);
	border-right: 1px solid rgba(255,255,255,.2);
}
#head_table div a{
	padding: 1em;
}
.modal.bottom-sheet, #modal_full{
	top: 0;
    margin-left: 40%;
    width: 60%;
    max-height: 100%;
    border-radius: 0;
    will-change: bottom, opacity;
} 
div.logo_sena img{
	width: 30%;
}
div.calendar div.dia{
	color: white;
	background-image: url('../image/header-calendar.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2em;
	font-size: 2em; 
}
div.calendar div.hora{ 
	color: black;
	padding: 1em;
	background-image: url('../image/footer-calendar.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 3em;
}
div.taregta_notificacion{
	background-color: rgba(230,71,64,1);
	color: white;
	padding-top: 5em;
	border-radius: 10px;
}
div.targeta_notificacion h6{
	font-size: 1.5em;
}
div.targeta_notificacion i{
	color: rgba(230,71,64,1) !important;
}
div.targeta_notificacion a{
	color: rgba(230,71,64,1) !important;
	margin-top: 1em;
	background-color: white !important;
}
div.grafica img{
	width: 100%;
}


