body,.modal-content,#modal_right,.modal-footer{
	background-color:  rgba(213,227,222,1) !important;
}
div#modal_mensajes .modal-content{
	background-color:  transparent !important;
}
.color_letra_primario{
	color: white !important;
}
.color_letra_secundario{
	color: rgb(0,112,137) !important;
}
i.destination {
	font-size: 10em;
	border-radius: 50%;
}
i.destination:hover {
	cursor: pointer;
	animation-name: left_right;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
input#darAlta::-webkit-slider-thumb,input#darBaja::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 1.5em;
	width: 1.5em;
	border-radius: 50%;
	cursor: pointer;
	margin-top: -.7em;
}
figure.icon-cellar img{
	width: 30%;
	max-height: 4em;
	min-height: 4em;
}
i.mas:hover{
	cursor: pointer;
}
i.menos:hover{
	cursor: pointer;
}
.fondo_blanco{
	background-color: rgb(255,255,255);
	color: rgb(0,112,137);
}
input#darAlta::-webkit-slider-thumb{
	background-color: rgb(0,112,137) !important;
}
input#darBaja::-webkit-slider-thumb {
	background-color: rgb(56,21,63) !important;
}
#modal_mensajes{
	z-index: 9999999999;
}
input#darAlta+.thumb{
	background-color: rgb(0,112,137) !important;
}
input#darAlta{
	background-color: rgb(0,112,137) !important;
}
input#darBaja+.thumb{
	background-color: rgb(56,21,63) !important;
}
input#darBaja{
	background-color: rgb(56,21,63) !important;
}
.color_letra_danger{
	color: rgb(56,21,63) !important;
}
.fondo_claro{
	transition: 1s ease;
	background-color: rgb(56,21,63) !important;
}
a.brand-logo img{
	opacity: .1;
}
a.pulse{
	border-radius: 5px;
	margin-top: 2.5em !important;
	color: red;
	margin-left: -2em;
}
.list_stock_exit .card-content{
	padding: 0px !important;
	padding-top: 2em !important;
}
.list_stock_exit .btn-fijo{
	position: absolute;
	top: -2em;
	right: 0;
	border-radius: 0px 0px 100px 0px !important;
}
.btn-fijo i{
	font-size: 1.3em;
	margin-left: 1em;
}
.list_stock_exit a{
	border-radius: 0px;
}
.list_stock_exit div.card{
	padding: 1em 0em 1em;
	border-left: 5px rgba(33,49,62,.3) solid;
	border-radius: 30px 30px 0px 0px;
	overflow: hidden;
}
.sombra{
	box-shadow: 0 2px 2px 0 rgba(33,49,62,.2), 0 1px 5px 0 rgba(33,49,62,.2), 0 2px 1px 2px rgba(33,49,62,.2);
}
.paddin1{
	padding: 1em !important;
}
.paddin2{
	padding: 2em !important;
}
.sombra_blanca{
	box-shadow: 0 2px 2px 0 rgba(255,255,255,.2), 0 1px 5px 0 rgba(255,255,255,.2), 0 2px 1px 2px rgba(255,255,255,.2);
}
div.logo_sena img{
	max-width: 3em;
	max-height: 4em;
}
.form_fix_right{
	position: absolute;
	top: 14em;
	right: 0  !important;
}
.content_impresion div{
	padding: 0 0rem !important;
}
div.list_stock_exit{
	height: 100vh;
	overflow: scroll;
}
div.formulario{
	margin-top: 1em;
	border-right: 1px dashed rgba(3,124,136,.2);
}
p.guia_abajo i{
	color: white !important;
	text-shadow: 0 2px 10px 10px rgba(0,133,122,1), 0 1px 5px 10px rgba(0,133,122,1), 0 2px 1px 2px rgba(0,133,122,1);
	font-size: 4em;
	text-shadow:5px 5px 5px rgba(0,133,122,.1);

}
p.guia_abajo i.second{
	margin-top: -1.5em;
}
.nav-wrapper{
	background-color: transparent !important;
	position: fixed;
	top: 0;
}
nav{
	background-color: rgb(0,112,137) !important;
	position: fixed;
	top: 0;
	z-index: 100;
	background-size: cover;
	background-repeat: no-repeat;
}
div.paginacion{
	background-color: rgb(0,112,137) !important;
	position: fixed;
	bottom: 0;
	z-index: 300;
	min-height: 4em;
	max-height: 4em;
}
ul.pagination li.active{
	background-color: rgb(56,21,63);
}
div#recordatorio{
	margin-top: 1em;
	margin-bottom: 3em;
}
div#recordatorio h5 i{
	position: absolute;
	top: 0;
}
div#view_actions,div#view_actions_table{
	position: fixed;
	top: 4.3em;
	z-index: 100;
	background-color: rgba(213,227,222,1);
	box-shadow:5px 5px 5px rgba(33,49,62,.3);
	padding-bottom: 2em;
	width: 97%;
}
div#view_actions_table{
	padding-bottom: 0em;
	top: 63.5px;
}
div#view_actions_table_next{
	margin-top: 9em;
}
i{
	color: rgb(0,112,137) !important;
}

div.destino{
	margin-bottom: 2em;
}
#modal_mensajes{
	background-color: transparent;
	box-shadow: 0px 0px 0px transparent;
}
#modal_mensajes .modal-content .card-image img{
	width: 60%;
}
a.close_modal{
	position: fixed;
	top: 10em;
}
div#view_add_elements{
	padding-top: 2em;
	height: 50vh;
	overflow: scroll;
	border-radius: 1em;
}
div.element_salida{
	background-color:  rgba(255,255,255,.3);
}
#modal_mensajes .modal-content .card-image{
	min-height: 14em;
	max-height: 14em;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
div.flitro{
	z-index: 100;
	background: rgb(0,112,137);
}
label{
	padding-left: 2em !important;
}
label.search{
	padding-left: 0em !important;
}
label.active{
	 color:  rgb(0,112,137)!important;
}
.toast{
	background-color: rgb(56,21,63);
	color: white;
}
input[type=text]:not(.search),input[type=number]:not(.search),input[type=password]:not(.search){
	color: black !important;
	border-radius: 0px 5px 0px 0px !important;
}
input.search{
	color: white !important;
}
.list_stock_exit input.search{
	color:  rgb(0,112,137)!important;
}
input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
	border-bottom: 1px solid white;
	box-shadow: 0 1px 0 0 white;
}
input[type=text]:not(.search):focus,input[type=number]:not(.search):focus,input[type=password]:not(.search):focus{
	color: black !important;
	box-shadow: 0px 0px 0px transparent !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: white !important;
	color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    color: white !important;
}
input.valid{
	border-radius: 0px !important;
}
input.invalid{
	border-bottom: 1px dashed #F44336 !important;
    box-shadow: 0 1px 0 0 transparent !important;
}
input.valid:not(.search):hover{
	background-color: transparent !important;
	color: black !important;
}
input.valid .search{
	background-color: transparent !important;
	color: white !important;
}
div.input-field i{
	color: rgb(30,136,229);
}
img.cargando{
	animation-name: left_right;
	animation-duration: .4s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
@-webkit-keyframes left_right {
	from { 
		opacity: .4;
		-ms-transform: rotate(7deg); /* IE 9 */
	    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
	    transform: rotate(7deg);
	}
	to { 
		opacity: 1; 
		-ms-transform: rotate(-3deg); /* IE 9 */
	    -webkit-transform: rotate(-3deg); /* Chrome, Safari, Opera */
	    transform: rotate(-3deg);
	}
}
h5.titulo{
	color: rgb(0,112,137);
	font-size: 1em;
	margin-bottom: 2em;
}
h6.titulo{
	color: rgb(0,112,137);
	font-size: 1em;
	margin-bottom: 2em;
}
div.contenedor_session{
	height: 80vh;
	margin-top: 5em;
	flex-wrap: wrap;
}
.btn{
	margin-top: 2em;
}
.btn-primary,.btn-nav{
	margin-right: .3em;
	background-color: white;
	color: rgb(0,112,137);
}
.category2,.category2:hover,.category2:focus{
	background-color: rgb(41,88,31) !important;
}
.category3,.category3:hover,.category3:focus{
	background-color: rgb(254,150,53) !important;
}
.category4,.category4:hover,.category4:focus{
	background-color: rgb(47,47,47) !important;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after{
	background-color: rgb(56,21,63) !important;
	border: 7px solid rgb(56,21,63) !important;
}
input#tox2:checked+label:after, input#tox2.with-gap:checked+label:after{
	background-color: rgb(41,88,31) !important;
	border: 7px solid rgb(41,88,31) !important;
}
input#tox3:checked+label:after, input#tox3.with-gap:checked+label:after{
	background-color: rgb(254,150,53) !important;
	border: 7px solid rgb(254,150,53) !important;
}
input#tox4:checked+label:after, input#tox4.with-gap:checked+label:after{
	background-color: rgb(47,47,47) !important;
	border: 7px solid  rgb(47,47,47) !important;
}
.btn-primary:hover{
	background-color: white;
}
.btn-primary:focus{
	background-color: white;
	color: rgb(0,112,137) !important;

}
.btn-success{
	background-color: rgb(56,21,63);
	color: white;
}
.btn-success:hover{
	background-color: rgb(56,21,63);
	color: white;
}
.btn-success:focus{
	background-color: rgb(56,21,63);
	color: white;
}
.btn i{
	color: rgb(0,112,137);
}
.btn-success i {
	color: white;
}
.btn-nav{
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 1px 5px 0 rgba(255,255,255,0.8), 0 3px 1px 2px rgba(0,0,0,0.2);
}
.btn-nav:hover{
	transition: .4s ease;
	background-color: transparent;
	color: white;
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.1), 0 1px 5px 0 rgba(255,255,255,0.1), 0 3px 1px -2px rgba(255,255,255,0.2);
}
.btn-nav:focus{
	transition: .4s ease;
	background-color: transparent;
	color: white;
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.1), 0 1px 5px 0 rgba(255,255,255,0.1), 0 3px 1px -2px rgba(255,255,255,0.2);
}
.btn-nav i{
	color: rgba(0,88,115,1) !important;
}
.btn-nav:hover i{
	color: white !important;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.targeta_inicio .card .card-content{
	padding: 5px !important;
	background-color: rgb(0,133,122);
}
.targeta_inicio .card .card-content div.title{
	background-size: cover;
	background-repeat: no-repeat;
}
.targeta_inicio:hover .card .card-content div.title i{
	transition: .2s;
}
.targeta_inicio:hover .card .card-content div.content i{
	font-size: 4em;
	opacity: 1;
	transition: 1s;
}
.targeta_inicio .card .card-content div.content i{
	font-size: 4em;
}
.targeta_inicio .card .card-content div{
	padding: 1em
}
.targeta_inicio div.derecha{
	font-size: 3em;
}
.targeta_inicio{
	padding-left: 10px !important;
	padding-right: 10px !important;
	margin-top: 0em;
	overflow: hidden;
	transition: ease all .5s;
	background-color: white;
}
a.button-collapse,a.collapse_one,a.collapse_two{
	position: fixed;
	top: 1em ;
	left: 2em;
	z-index: 3000;
}
a.collapse_one{
	left: 6em;
	transition: 1s;
}
a.collapse_two{
	left: 10em;
}
a.button-collapse:hover{
	transition: 1s;
}
div.menu{
	transition: ease all 1s;
	height: auto;
	overflow: hidden;
	height: 100vh;
	overflow: scroll;
	overflow-x: hidden;
	margin-top: 0em;
	z-index: 100;
}
#modal1{
	background-color: rgba(40,61,73,1)!important;
}
div#vista_ventana{
	margin-top: 7em !important;
}
.fondo_negro{
	background-color: rgb(0,112,137) !important;
}
div.action{
	margin-bottom: 1em;
}
.tabla .btn{
	margin-top: 0em !important;
}
div.tabla{
	margin-bottom: 1em !important;
}
.tabla:hover h6{
	color:  rgb(56,21,63) !important;
}
.second_cell,.primary_cell{
	border-right: 1px solid rgba(3,124,136,.5);
}
.head_cell,.prymary_head_cell{
	background-color: rgb(255,255,255);
	color: rgb(0,112,137);
	border-right: 1px solid rgba(255,255,255,.2);
}
#head_table div a{
	padding: 1em;
}
#head_table{
	margin-bottom: 0px !important;
}
.modal-content #head_table{
	margin-bottom: 10px !important;
}
.modal.bottom-sheet, #modal_full{
	top: 0;
    margin-left: 40%;
    width: 60%;
    max-height: 100%;
    border-radius: 0;
    will-change: bottom, opacity;
} 
#modal_left{
	top: 0 !important;
    margin-left: 0%;
    width: 40%;
    max-height: 100%;
    border-radius: 0;
    will-change: bottom, opacity;
} 
div.logo_sena img{
	width: 30%;
}
div.calendar div.dia{
	color: white;
	background-image: url('../image/header-calendar.png');
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 2em;
	font-size: 2em; 
}
div.calendar div.hora{ 
	color: black;
	padding: 1em;
	background-image: url('../image/footer-calendar.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 3em;
}
div.taregta_notificacion{
	background-color: rgb(56,21,63);
	color: white;
	padding-top: 5em;
	border-radius: 10px;
}
div.targeta_notificacion h6{
	font-size: 1.5em;
}
div.targeta_notificacion i{
	color: rgb(56,21,63) !important;
}
div.targeta_notificacion a{
	margin-top: 1em;
	background-color: white !important;
}
div.grafica img{
	width: 100%;
}
ul#slide-out{
	background-color: transparent;
	box-shadow: 0px 0px 0px transparent;
}
div#ilse{
	width: 7em;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 9999999;
}
div#ilse img{
	width: 100%;
}

::-webkit-scrollbar              { opacity: 0; }
::-webkit-scrollbar-button       { opacity: 0; }
::-webkit-scrollbar-track        { opacity: 0; }
::-webkit-scrollbar-track-piece  { opacity: 0; }
::-webkit-scrollbar-thumb        { opacity: 0; }
::-webkit-scrollbar-corner       { opacity: 0; }
::-webkit-resizer                { opacity: 0; }