body{
	background-color: rgba(40,61,73,1);
}
.nav-wrapper{
	background-color: rgba(40,61,73,.7);
	position: fixed;
	top: 0;
}
nav{
	position: fixed;
	top: 0;
	z-index: 100;
	background-image: url('../image/navs.png');
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 1px 5px 0 rgba(255,255,255,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
i{
	color: white;
}
.row{
	margin-top: 3em !important;
}
#modal_mensajes{
	background-color: transparent;
	box-shadow: 0px 0px 0px transparent;
}
#modal_mensajes .modal-content .card-image img{
	width: 60%;
}
#modal_mensajes .modal-content .card-image{
	min-height: 14em;
	max-height: 14em;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
label{
	padding-left: 2em !important;
}
input[type=text],input[type=number],input[type=password]{
	color: white !important;
	border-radius: 20px !important;
}
input[type=text]:focus,input[type=number]:focus,input[type=password]:focus{
	color: white !important;
	padding-left: 2em !important;
	box-shadow: 0px 0px 0px transparent !important;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{
	background-color: rgba(40,61,73,1) !important;
	color: white !important;
}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px rgba(40,61,73,1) inset !important;
    color: white !important;
}
input.valid{
	border-radius: 0px !important;
}
input.valid:hover{
	background-color: transparent !important;
	color: white !important;
}
a{
	color: white !important;
}
h5.titulo{
	color: white;
	font-size: 1em;
	margin-bottom: 2em;
}
.btn{
	margin-top: 2em
}
.btn-primary,.btn-cerrar{
	margin-right: .3em;
	background-color: white;
	color: rgba(40,61,73,1) ;
}
.btn-primary:hover{
	background-color: white;
	color: rgba(40,61,73,1) ;
}
.btn-success{
	background-color: rgb(30,136,229);
}
.btn i{
	color: rgba(40,61,73,1);
}
.btn-cerrar{
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 1px 5px 0 rgba(255,255,255,0.8), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.btn-cerrar:hover{
	background-color: transparent;
	box-shadow: 0 2px 2px 0 rgba(255,255,255,0.14), 0 1px 5px 0 rgba(255,255,255,0.8), 0 3px 1px -2px rgba(255,255,255,0.2);
}
.btn-cerrar i{
	color: rgba(40,61,73,1) !important;
}
.btn-cerrar:hover i{
	color: white;
}
.centrar{
	display: flex;
	justify-content: center;
	align-items: center;
}
.targeta_inicio .card .card-content{
	padding: 5px !important;
}
.targeta_inicio .card .card-content div.title{
	background-color: rgba(0,0,0,.4) ;
}
.targeta_inicio .card .card-content div.content{
	min-height: 10em; 
	max-height: 10em;
}
.targeta_inicio .card .card-content div.content i{
	font-size: 4em;
}
.targeta_inicio .card .card-content div{
	padding: 1em
}
.targeta_inicio div.derecha{
	font-size: 3em;
}
div.menu{
	position: fixed;
	height: 90%;
	overflow: hidden;
	overflow: scroll;
	padding-bottom: 20em;
	overflow-x: hidden;
}
#modal1{
	background-color: rgba(40,61,73,1);
}
div#modal_mensajes div.modal-content .card-action a {
	color: rgba(40,61,73,1) !important;
}
